.venv
__pycache__
*.pyc
build
dist
actualizacion_*
APKs_Generados
my-react-app/node_modules
my-react-app/android/.gradle
my-react-app/android/app/build
my-react-app/dist
_backup_no_usar_20260502
documentos
muestras_interfaz
muestras_plantillas
sonidos
*.exe
*.apk
*.pdf
*.docx
*.rar
